$color-red: red;
$grey: #777;
$liteGrey: rgba(222, 222, 222, 0.3);
$black: #0c0c0c;
$white: #fff;
$orange: #f19340;


$generalFontSize_px: 16px;
$generalFontSize_number: 16;

@function rem($n) {
  @return #{($n / $generalFontSize_number)}rem;
}










